@import "tailwindcss";

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

/* leaflet dark styling overrides */
.leaflet-container {
    background: #0a0a0a !important;
}

/* fix tailwind css reset breaking leaflet tiles */
.leaflet-container img,
.leaflet-container svg {
    max-width: none !important;
    max-height: none !important;
    height: auto;
}

.leaflet-tile-pane img {
    max-width: none !important;
    height: auto !important;
}

.leaflet-control-attribution {
    background-color: rgba(23, 23, 23, 0.7) !important;
    color: #525252 !important;
    font-size: 9px !important;
}

.leaflet-control-attribution a {
    color: #737373 !important;
}

.leaflet-control-zoom a {
    background-color: #171717 !important;
    color: #a3a3a3 !important;
    border-color: #262626 !important;
}

.leaflet-control-zoom a:hover {
    background-color: #262626 !important;
    color: #e5e5e5 !important;
}

/* panel scrollbar */
.panel-scroll::-webkit-scrollbar {
    width: 4px;
}

.panel-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.panel-scroll::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 2px;
}
